html,
body {
    width: 100%;
    max-width: 414px;
    margin: 0;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.sd{
    width: 414px;
}

.ff {
    position: relative;
}
<<<<<<< HEAD
/**
=======
body{
    max-width: 414px;
    background-color: black;
}

>>>>>>> c534fc8a63fdfdb70f3e7ee73ea80ec6a2102476
.buttonname {
    position: absolute;
    top: 133px;
    left: 15px;
}
.buttonlink{
    position: absolute;
    top: 133px;
    left: 15px;
}
**/

.grap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.but{
    position: absolute;
    display: flex;
    width: 385px;
    top: 155px;
    left: 18px;
}

.aaa{
    margin: 0 auto;
}

.menu{
    position: absolute;
    display: flex;
    width: 335px;
    top: 220px;
    left: 40px;
}

.aa{
    width: 60px;
    margin: 0 auto;
}

/**
.torgOff{
    position: absolute;
    top: 205px;
    left: 175px;
}

.bagoff{
    position: absolute;
    top: 200px;
    left: 38px;
}

.fqa{
    position: absolute;
    top: 200px;
    left: 237px;
}

.statics{
    position: absolute;
    top: 200px;
    left: 105px;
}

.pust{
    position: absolute;
    top: 200px;
    left: 303px; 
}
**/

.ref{
    position: absolute;
    top: 109px;
    left: 290px;
    color: aqua; 
}

.soul{
    position: absolute;
    top: 63px;
    left: 290px;
    color: aqua;
}

main{
    position: absolute;
<<<<<<< HEAD
    top: 300px;
    max-width: 100%;
=======
    top: 290px;
    width: 100%;
>>>>>>> c534fc8a63fdfdb70f3e7ee73ea80ec6a2102476

}

.torg{
    position: absolute;
    top: -30px;
}

.setcatorg{
    position: absolute;
    top: 195px;
    left: 0px;
}
