html,
body {
    width: 414px;
    margin: 0;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.sd{
    width: 414px;
}

.ff {
    position: relative;
}
<<<<<<< HEAD

=======
>>>>>>> 06430cc55deeeb5d35aa9051ef5e09bb92478e71

.grap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.but{
    position: absolute;
    display: flex;
    width: 385px;
    top: 155px;
    left: 18px;
}

.aaa{
    margin: 0 auto;
}

.menu{
    position: absolute;
    display: flex;
    width: 335px;
    top: 220px;
    left: 40px;
}

.aa{
    width: 60px;
    margin: 0 auto;
}

.ref{
    position: absolute;
    top: 109px;
    left: 290px;
    color: aqua; 
}

.soul{
    position: absolute;
    top: 63px;
    left: 290px;
    color: aqua;
}

main{
    position: absolute;
    top: 300px;
    width: 100%;
    top: 290px;
<<<<<<< HEAD
=======

>>>>>>> 06430cc55deeeb5d35aa9051ef5e09bb92478e71
}

.torg{
    position: absolute;
    top: -30px;
}

.setcatorg{
    position: absolute;
    width: 414px;
    top: 210px;
    left: 10px;
    display: block;
}